h1 {
	color: red;
	
	border: 5px solid purple;
}
li {
	color: black;
}
h2 {
	background: red;
	color: purple;
}
body{
	background: url(http://www.myspacelayoutsupport.com/myspace-backgrounds/images/uh8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}