h1 {
	color: red;
	
	border: 10px solid purple;
}
li {
	color: black;
}
h2 {
	background: red;
	color: black;
}
body{
	background-image: Christian.jpg;
	background-repeat: no-repeat;
	background-size: cover;
}